.container td, th{
    border: 1px solid white;
    padding: 20px 10px;
    background: white;
}

#container h1{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 27px;   margin:0 auto;
    padding-bottom: 15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #01A9DB;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid black;
}



#formulaire-setting{
    padding: 5%;
    width : 40%;
    height : auto;
    opacity: 1;
    line-height: 50px;
    display: block;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    color:grey;
    background-color:white;

}
#formulaire-Affichage-Reservation{
    padding: 5%;
    width : 70%;
    height : auto;
    opacity: 1;
    line-height: 50px;
    display: block;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    color:grey;
    background-color:white;

}
.tableau{

    cursor: pointer;
    margin-top: 7%;

}
.tableau td, th{
    border: 1px solid white;
    padding: 20px 10px;
    background: white;
    text-align: center;
}
.tableau-Reservation{
    cursor: pointer;
    margin-top: 7%;


}
.tableau-Reservation td, th{
    border-color:black;
    width: auto;
    padding: 20px 10px;
    background: white;
    text-align: center;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#message-Erreur{
    color:red;
    text-align:center;
    font-size:70%;
    font-style: oblique;
}
